<ul class="breadcrumb database-breadcrumb">
    {# ROW EDITOR BACK BUTTON #}
    {% if editorTable != null %}
        <li>
            <a class="selector-button btn-small" href={{ path('admin_database_browser', {'table': editorTable, 'page': editorPage}) }} title="Back to table">
                <strong>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </strong>
            </a>
        </li>
        <li class="count-text-in-menu">Row editor</li>
    {# ROW ADD BACK BUTTON #}
    {% elseif newRowTable != null %}
        <li>
            <a class="selector-button btn-small" href={{ path('admin_database_browser', {'table': newRowTable, 'page': newRowPage}) }} title="Back to table">
                <strong>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </strong>
            </a>
        </li>
        <li class="count-text-in-menu">New row</li>
    {# TABLE VIEWER TOOLBAR #}
    {% elseif tableName != null %}
        <li>
            <a class="selector-button btn-small" href={{ path('admin_database_list') }} title="Back to table list">
                <strong>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </strong>
            </a>
        </li>
            <li> 
                <form method="POST" action={{ path('admin_database_delete', {'table': tableName, 'page': '1', 'id': 'all'}) }} style="display:inline;" title="Delete all rows">
                    <input type="hidden" name="csrf_token" value={{ csrf_token('internal-csrf-token') }}>
                    <button type="submit" class="selector-button btn-small">
                        <strong>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </strong>
                    </button>
                </form>
            </li>
        {% if tableName != 'code_paste' and tableName != 'images' and tableName != 'chat_messages' and tableName != 'inbox_messages' and tableName != 'todos' %}
            <li>    
                {% if tableName != 'code_paste' and tableName != 'images' %}
                    <a class="selector-button btn-small" href={{ path('admin_database_add', {'table': tableName, 'page': page}) }} title="Add new row">
                        <i class="fa fa-plus" aria-hidden="true"></i> 
                    </a>
                {% endif %}
            </li>
        {% endif %}

        {# REGISTER NEW USER BUTTON #}
        {% if tableName == 'users' %}
            <li>
                <a class="selector-button btn-small" href={{ path('auth_register') }} title="Register new user">
                    <strong>R</strong>
                </a>
            </li>        
        {% endif %}
        <li class="count-text-in-menu">{{ tableName }} = {{ tableDataCountAll }} rows</li>
    {% endif %}
</ul>
