<ul class="breadcrumb database-breadcrumb"> 
    {# VIEW UNFILTERED LOGS #}
    <li>
        <a class="selector-button btn-small" href={{ path('admin_database_browser', {'table': 'logs', 'page': readerPage}) }} title="View unfiltered logs">
            <strong><i class="fa fa-database" aria-hidden="true"></i></strong>
        </a>
    </li>  
    {# SET ALL LOGS AS READ #}
    <li>
        <form method="POST" action={{ path('admin_log_readed') }} style="display:inline;" title="Set all logs as readed">
            <input type="hidden" name="csrf_token" value={{ csrf_token('internal-csrf-token') }}>
            <button type="submit" class="selector-button btn-small">
                <strong><i class="fa fa-check" aria-hidden="true"></i></strong>
            </button>
        </form>
    </li>
    {# DELETE ALL LOGS #}
    <li>
        <a class="selector-button btn-small" href={{ path('admin_log_delete', {'page': 1}) }} title="Delete all logs">
            <strong><i class="fa fa-trash" aria-hidden="true"></i></strong>
        </a>
    </li>  
    {# TOGGLE ANTILOG #}
    <li>
        <form method="POST" action={{ path('antilog') }} style="display:inline;" title="Toggle antilog">
            <input type="hidden" name="csrf_token" value={{ csrf_token('internal-csrf-token') }}>
            <button type="submit" class="selector-button btn-small">
                {% if antiLogStatus == true %}
                    <strong><i class="fa fa-toggle-on" aria-hidden="true"></i></strong>
                {% else %}
                    <strong><i class="fa fa-toggle-off" aria-hidden="true"></i></strong>
                {% endif %}
            </button>
        </form>
    </li>
    <li class="count-text-in-menu">Logs reader</li>
</ul>
